---
title: Installing and Configuring Altoros Log Search for PCF
owner: Partners
---

This topic describes how to install and configure **Altoros Log Search for Pivotal Cloud Foundry (PCF)**.

##<a id='install'></a> Install and Configure Altoros Log Search for PCF

1. Download the product file from [Pivotal Network](https://network.pivotal.io/products/altoros-log-search).

1. Navigate to the Ops Manager Installation Dashboard and click **Import a Product** to upload the product file.

1. Under the **Import a Product** button, click **+** next to the version number of **Altoros Log Search for PCF**. This adds the tile to your staging area.

1. Click the newly added **Altoros Log Search for PCF** tile.

1. Configure **Log Data Retention** settings:

    Define your log retention period. Elasticsearch Curator matchs indices based on whether they fit within the given time range.
    By default, logging indices are kept for 30 days.

    1. **Log retention unit**: This setting must be one of days, weeks, months, or years.

    2. **Log retention value**: The value of this setting will be used as a multiplier for **Log retention unit**.
    <%= image_tag("Images/logsearch_log_data_retention.png") %>

1. Click **Save**.

1. Configure **On-Demand Service Broker** settings:

    Currently Logsearch On-Demand service broker supports only one service plan: **Single Node**. 
This service plan deploys all **Altoros Log Search for PCF** components on a single virtual machine. 
All settings for the **Single Node** service plan can be configured using the **Single Node Plan Configuration** tab.

    1. **AZ to deploy service instance node**: This is the AZ in which to deploy the Logsearch instances from the **Single Node** plan. This must be one of the AZs of the service network (configured in the BOSH Director tile).

    2. **VM type of a service instance node**: Select a large VM type. The plan creates a service instance of this size.

    3. **Persistent disk type of a service instance node**: Select a disk size.
    <%= image_tag("Images/single_plan_config.png") %>

1. Click **Save**.

1. Configure **Automated Snapshots** settings:

    To enable automated backups for old Elasticsearch indices, you will first 
need to choose your backup destination type - AWS S3 or Shared File System. 
Set the **No Snapshots** setting if you don’t want to backup your data with 
the **Altoros Log Search for PCF** tile.

    1. **S3 Snapshots**:

        1. **Access Key ID**: The access key for your S3 account.

        2. **Secret Access Key**: The Secret Key associated with your Access Key.

        3. **Bucket Name**: Name of the bucket you wish the files to be stored in.

        4. **Region**: Region name for your S3 bucket.
        <%= image_tag("Images/s3_snapshots_config.png") %>

    2. **Shared File System**:


        1. **Location where shared filesystem mounted to**: This location (or one of its parent directories) must be registered on all Elasticsearch master and data nodes.
        <%= image_tag("Images/fs_snapshots_config.png") %>

1. Click **Save**.
1. Return to the Ops Manager Installation Dashboard and click **Apply Changes** to install **Altoros Log Search for PCF** tile.

##<a id='elastic-runtime-configuration'></a> Configure Pivotal Elastic Runtime Logs Forwarding

1. In the **Altoros Log Search for PCF** tile, click **Status** and record the IP address of the **Ingestor** VM.

1. In the **Pivotal Elastic Runtime** tile, click **System Logging** and complete the following fields:
    1. **Address**: Enter the IP address from step 1, above.
    1. **Port**: Enter `5514`.
    1. **Transport Protocol**: Select `TCP protocol`.
    <%= image_tag("Images/ert_configuration.png") %>

1. Click **Save**.

##<a id='bosh-configuration'></a> Configure BOSH Director Logs Forwarding

1. In the **BOSH Director** tile, click **Syslog** and complete the following fields:
    1. **Do you want to configure Syslog for Bosh Director?**: Select `Yes`.
    1. **Address**: Enter the IP address from [Configure Pivotal Elastic Runtime Logs Forwarding](#elastic-runtime-configuration) above.
    1. **Port**: Enter `5514`.
    1. **Transport Protocol**: Select `TCP`.
    <%= image_tag("Images/ops_manager_director_configuration.png") %>

1. Click **Save**.

##<a id='data-services-configuration'></a> Configure Data Service Tiles Logs Forwarding

1. In the **RabbitMQ**, **Redis**, and **MySQL for PCF** tiles, click **Syslog** and complete the following fields:
    1. **Syslog address**: Enter the IP address from [Configure Pivotal Elastic Runtime Logs Forwarding](#elastic-runtime-configuration) above.
    1. **Syslog port**: Enter `5514`.
    1. **Transport Protocol**: Select `TCP protocol`.
    <%= image_tag("Images/services_configuration.png") %>

1. Click **Save**.

1. Click **Apply Changes**.
